/* :link :visited :hover :active */

a:link {
  color: aqua;
}
a:visited {
  color: red;
}
a:hover {
  color: blue;
}
a:active {
  color: green;
}

/*  
  So here lets examine everything that is going 
  on very simple to understand the link is the 
  link itself the vistited is if you vist then 
  the color should change the active is when you are about to click on the link the one second that it takes that when it does that
*/
